<div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Order Form</h2>
                        <form method="POST" class="register-form" novalidate id="register-form">
                            <div class="form-group">
                                <label for="rqstName"></label>
                                <input type="text" [(ngModel)] ="order.rqstName" name="rqstName" id="rqstName" placeholder="Request Name" />
                            </div> 
                            <div class="form-group">
                                <label for="svcName"></label>
                                <input type="text" [(ngModel)] ="order.svcName" name="svcName" id="svcName" placeholder="service name" />
                            </div>
    
                            <div class="form-group">
                                <label for="quantity"></label>
                                <input type="text" [(ngModel)] ="order.quantity" name="quantity" id="quantity" placeholder="quantity" />
                            </div>
                            <div class="form-group">
                                <label for="price"></label>
                                <input type="text" [(ngModel)] ="order.price" name="price" id="price" placeholder="price" />
                            </div>
                            <div class="form-group">
                                <label for="spName"></label>
                                <input type="text" [(ngModel)] ="order.spName" name="spName" id="spName" placeholder="Service Provider Name" />
                            </div>
                            <div class="form-group">
                                <label for="bName"></label>
                                <input type="text" [(ngModel)] ="order.bName"name="bName" id="bName" placeholder="Buyer Name" />
                            </div>

                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register" (click)="createOrder()" />
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </section>
    </div>
    <script src="js/main.js"></script>
    <script src="js/index.js"></script>
