<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


<div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Request Form</h2>
                        <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()"method="POST" class="register-form" novalidate id="register-form">
                            <div class="form-group">
                                <label for="name"><i class="fa fa-user" aria-hidden="true"></i></label>
                                <input type="text" [(ngModel)] ="rqst.name"  id="name" placeholder="Request Name" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required">Request Name is required</div>
                                </div>
                            </div> 
                            <div class="form-group">
                                <label for="expectedDate"><i class="fa fa-calendar" aria-hidden="true"></i></label>
                                <input type="text" [(ngModel)] ="rqst.expectedDate" name="expectedDate" id="expectedDate" placeholder="expectedDate" />
                            </div>
                            <div class="form-group">
                                <label for="category"><i class="fa fa-tasks" aria-hidden="true"></i></label>
                                <input type="text" [(ngModel)] ="rqst.category" id="category" placeholder="category" formControlName="category" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.category.errors }" />
                                <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                                    <div *ngIf="f.category.errors.required">Request Name is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="quantity"><i class="fa fa-shopping-basket" aria-hidden="true"></i></label>
                                <input type="text" [(ngModel)] ="rqst.quantity" name="quantity" id="quantity" placeholder="quantity" formControlName="quantity" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }" />
                                <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
                                    <div *ngIf="f.quantity.errors.required">Quantity is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="desc"><i class="fa fa-newspaper-o" aria-hidden="true"></i></label>
                                <input type="text" [(ngModel)] ="rqst.desc" id="desc" placeholder="Description" formControlName="desc" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.desc.errors }" />
                                <div *ngIf="submitted && f.desc.errors" class="invalid-feedback">
                                    <div *ngIf="f.desc.errors.required">Quantity is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="spName"><i class="fa fa-user" aria-hidden="true"></i></label>
                                <input type="text" [(ngModel)] ="rqst.spName" name="spName" id="spName" placeholder="Service Provider Name"  formControlName="spName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.spName.errors }" />
                                <div *ngIf="submitted && f.spName.errors" class="invalid-feedback">
                                    <div *ngIf="f.spName.errors.required">Service provider Name is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="bName"><i class="fa fa-user" aria-hidden="true"></i></label>
                                <input type="text" [(ngModel)] ="rqst.bName"name="bName" id="bName" placeholder="Buyer Name" formControlName="bName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bName.errors }" />
                                <div *ngIf="submitted && f.bName.errors" class="invalid-feedback">
                                    <div *ngIf="f.bName.errors.required">Buyer Name is required</div>
                                </div>
                            </div>

                            <div class="form-group form-button">
                                
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register" (click)="createRequest()" />
                                <button class="btn btn-secondary" type="reset" (click)="onReset()" routerLink="/services">Cancel</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </section>
    </div>
    <script src="js/main.js"></script>
    <script src="js/index.js"></script>