.main {
    background: #EDC7B7;
    padding: 10px 0; }
  

.jumbotron{
    padding-bottom: 20px;
    padding-top: 10px;
    background: #EEE2DC;
}

#service {
    margin-top: 16px;
    background: #bab2b5; }